
.navbar{
  position: fixed;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  top: 0;
  z-index: 5;
  background: linear-gradient(#0141ff66,#00000000);
  height: 89px;
  width: 100%;
}

.menu{
  font-size: 1.5rem;
  gap: 1.5em;
  margin: 0;
}

.menu li {
  position: relative;
  display: block;
  transition: .5s;
  cursor: pointer;
}

.menu li:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  transition: transform .5s;
  transform: scaleX(0);
  transform-origin: right;
  background-color: #53a2be;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.description {
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  height: 90vh;
  z-index: 2;
  font-family: var(--font-mono);
  margin-top: 3.5rem;
  text-align: justify;
}

.description a {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.redes{
  display: flex;
  justify-content: center;
}
.reds{
  padding-right: 3.5rem;
}
.red{
  background: #f8f7d1f5;
  border-radius: 16px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: "";
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.name{
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.job{
  display: flex;
  justify-content: center;
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

.profile{
  max-width: 30rem;
}

.imageProfile{
  padding-left: 6rem;
}

.tec{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 2rem;
}

.icons{
  border-radius: 8px;
  margin: auto;
}

.card{
  width: 100%;
  height: 100%;
  max-width: 130px;
  margin: 1.5rem;
  background: #0141ff66;
  border-radius: var(--border-radius);
}

.texTec{
  text-align: center;
  font-size: 20px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.projects{
  display: grid;
  color: antiquewhite;
  background: #0141ff66;
  margin: 8px;
  max-width: 250px;
  border-radius: 14px;
  height: 100%;
  object-fit: fill;
  font-family: var(--font-mono);
  padding-top: .5rem;
}

.img{
  display: block;
  margin: auto;
  border-radius: 8px;
}

.grid{
  display: flex;
}

.desc{
  text-align: justify;
  font-size: small;
  padding: 1rem;
}

.prj{
  display: flex;
}

.titulos{
  display: grid;
  justify-items: center;
  font-size: 2rem;
}

.proy{
  height: 100vh;
  margin-top: 16px;
}

@media (max-width: 630px) {
  .description{
    padding-left: .5rem;
    padding-right: .5rem;
  }
  .red{
    max-width: 56px;
    max-height: 56px;
  }
  .icons{
    max-width: 80px;
    max-height: 80px;
  }
  .card{
    max-width: 80px;
  }
  .texTec{
    font-size: 12px;
  }
  .titulos{
    margin-top: 2rem;
  }
}

.sectForm{
  margin: 32px;
  height: 80vh;
}

.formTitle{
  font-size: 2.5rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-bottom: 16px;
}

.form{
  display: flex;
  justify-content: center;
  background: rgba(248, 247, 209, 0.4);
  border-radius: 12px;
  box-shadow: 10px 5px 15px #02108a ;
  padding: 16px;

}

.formList{
  font-family: var(--font-mono);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.formSect{
  display: grid;
}

.formLabel{
  padding-top: 16px;
  padding-bottom: 4px;
}

.formInput{
  height: 24px;
  width: 14rem;
  border-radius: 4px;
  border: 0px;
}

.formText{
  height: 10rem;
  width: 14rem;
  resize: none;
  border: 0px;
  border-radius: 4px;
}

.formButton{
  height: 2rem;
  width: 14rem;
  background: #02108a;
  border-radius: 8px;
  border: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
}